
.stylish-input-group .input-group-addon{
    background:white; 
    color: grey;
    border-color: white;
    /* width: 100px; */
    /* height: 30px; */
}
.stylish-input-group .form-control{
    border-right:0; 
    box-shadow:0 0 0; 
    height: 50px;
    /* border-color:#ccc; */
    border-color: white;
}
button {
    /* padding-top: 26px;
    padding-bottom: 23px;
    margin-top: -50px;
    margin-bottom: -50px; */
color: white;
width: 130px;
height: 30px;
align-content: center;
background: linear-gradient(60deg, red,pink);
/* background: radial-gradient(orange, red, red); */
}