<div class="container" >
    <div class="row" >
      <div class="col-md-6" >
  
        <h4 style="color: lightgrey">Recent updates</h4>


<!-- <div class="col-md-6"> -->
  <!-- <p>Click on the button below to read the full article.</p> -->
  <div style="box-shadow: 2px 4px 8px lightgrey; padding-left: 15px;">
  <div class="row" style="padding: 5px">
    
    <div class="col-md-1">
      <button type="button" class="btn info" data-toggle="collapse" data-target="#demo1">1</button><br><br>
    </div>
    <div class="col-md-10">
      <p><b>Cognizant</b> </p>
      <div id="demo1" class="collapse">
          Cognizant is a multinational corporation that provides IT services, including digital, technology, consulting, and operations services. It is headquartered in Teaneck, New Jersey, United States.
      </div>
    </div>
  </div>

  <div class="row" style="padding: 5px">
    <div class="col-md-1">
      <button type="button" class="btn info" data-toggle="collapse" data-target="#demo2">2</button><br><br>
    </div>
    <div class="col-md-10">
      <p><b>Cisco</b></p>
      <div id="demo2" class="collapse">
          Cisco Systems, Inc. is an American multinational technology conglomerate headquartered in San Jose, California, in the center of Silicon Valley, that develops, manufactures and sells networking hardware, telecommunications equipment and other high-technology services and products.
      </div>
    </div>
  </div>
  
  <div class="row" style="padding: 5px">
    <div class="col-md-1">
      <button type="button" class="btn info" data-toggle="collapse" data-target="#demo3">3</button><br><br>
    </div>
    <div class="col-md-10">
      <p><b>Amazon</b></p>
      <div id="demo3" class="collapse">
          Amazon.com, Inc., doing business as Amazon, is an American electronic commerce and cloud computing company based in Seattle, Washington that was founded by Jeff Bezos on July 5, 1994.
      </div>
    </div>
  </div>

<!-- </div> -->


</div>
</div>
</div>
</div>